{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}New password | {% endblock title %}


{% block content %}
<div class="mt-3">
    <h1>Enter your new password</h1>
    <p class="lead">Please, enter your new password twice so we can verify that you've typed it correctly.</p>

    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        
        <input type="submit" class="btn btn-primary" value="Update my password">
    </form>
</div>
{% endblock content %}